


.taskbar {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.taskbar textarea {
  width: 100%;
  max-width: 638px;
  height: 54px;
  border-radius: 8px;
  background: var(--color-gray-500);
  resize: none;
}

.taskbar textarea::placeholder {
  padding: 17px;

  
}

.taskbar textarea:focus {
    color: var(--color-gray-100);
  }

.taskbar button {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-gray-100);
}

.taskbar button {
    width: 100%;
    max-width: 90px;
    padding: 16px;
    border-radius: 8px;
    background: var(--color-blue-dark);
    color: var(--color-gray-100);
    transition: background 0.2s;
  }


  .taskbar button:hover {
    background: var(--color-blue);

  }

  .infoTask {
    width: 100%;
    max-width: 738px;
    margin: 0  auto;
    padding-top: 65px;

     display: flex;
     justify-content:space-between;
  } 

  .infoCreate{
    font-family: 'inter', sans-serif;
    font-weight: 700;
    size: 14px;
    color: var(--color-blue);
  }

  .infoDone {
   font-family: 'inter', sans-serif;
   font-weight: 700;
   font-size: 14px;
   color: var(--color-purple);
  }

  .infoEmpty {
    margin: 24px auto;
    width: 100%;
    max-width: 738px;
    border-top: 1px solid var(--color-gray-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infoEmpty img {
      margin-top: 50px;
      margin-bottom: 16px;
  
  }

  .infoEmpty p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 22.4px;
    color: var(--color-gray-300);
  } 

/*

  .cardInfo {
    visibility: hidden;
    height: 0;
  }
*/


