:root {

    --color-purple:#1E6F9F;
    --color-purple-dark:#5E60CE;
    --color-purple:#8284FA;
    --color-blue:#4EA8DE;
    --color-blue-dark:#1E6F9F;
    
    
    --color-gray-400:#333333;
    --color-gray-500:#262626;
    --color-gray-600:#1A1A1A;
    --color-gray-700:#0D0D0D;
    
    --color-gray-100:#F2F2F2;
    --color-gray-200:#D9D9D9;
    --color-gray-300:#808080;
    
    --color-danger:#E25858;
    
    --color-white:#ffff;
    }

    :focus {
      outline: transparent;
      box-shadow: 0 0 0 2px var(--color-purple) ;
    }
    
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      } 
    
      body {
        background: var(--color-gray-600);
        --webkit-font-smoothing: antialiased;
      }


      .container {
        width:100%;
        max-width: 1440px;
      }
    